// VARS

$gutter: 20px;
$navH: 56px;
$ff: ITC Avant Garde Gothic Std, Arial;
$c-main: #65aa04;
$c-highlight: #eb6c1d;
$bshadow: 0 0 10px rgba(0,0,0,0.2);
$bdr: 3px;


// HELPERS

%nav-ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

%nav-typo {
  font-family: $ff;
  font-size: 14px;
  font-weight: 700;  
  line-height: $navH*1.08;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

%bt {
  @extend %transition;
  display: block;
  cursor: pointer;
}

%round-bt {
  @extend %bt;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

%transparent-bt {
  @extend %bt;
  background-color: transparent;
  border: 2px solid #fff;
}

%transition {
  transition: all 0.2s ease-out;
}

%link {
  @extend %transition;
  position: relative;
  font-family: $ff;
  font-size: 12px;
  color: $c-main;
  text-decoration: none;
  text-transform: uppercase;
  
  &::after {
    @extend %transition;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 1px;
    background: $c-main;
  }
  
  &:hover {
    &::after {
      width: 100%;
    }
  }
}


// MIXIN

@mixin maxH($height) {
  max-height: $height;
  overflow: hidden;
}


// GENERAL

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  background: #cacaca;
}


// NAV BAR

.navbar {
  @extend %transition;
  display: flex;
  position: relative;
  width: 100%;
  height: $navH;
  padding: 0;
  margin-top: 0;
  padding-right: $gutter;
  
  &::before {
    @extend %transition;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $c-main;
  }
}


// LOGO

.navbar__id,
.navbar__id.is-compact,
.no-touch nav:hover + .navbar__id {
  @extend %transition;
  flex: none;
  order: 1;
  position: relative;
  width: 140px;
  height: $navH;
  padding: 12px $gutter 0 $gutter;
  background: #fff;
  top: 0;
  box-shadow: none;
  border-radius: 0;
}

.logo__img,
.navbar__id.is-compact .logo__img,
.no-touch nav:hover + .navbar__id .logo__img {
  @extend %transition;
  @include maxH(0);
  width: 60px;
  height: 52px;
  margin-left: 20px;
  background: #cacaca;
}


.logo__title,
.navbar__id.is-compact .logo__title,
.no-touch nav:hover + .navbar__id .logo__title {
  margin: 0;
  color: $c-main;
  font-family: Sansa Pro;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  
  span {
    font-size: 22.3px;
  }
}


.navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social {
  @extend %transition;
  @extend %nav-ul;
  @include maxH(0);
  display: flex;
  justify-content: space-between;
}

.social__icon {
  @extend %round-bt;
  width: 25px;
  height: 25px;
  background: #cacaca;
}


// NAV

.nav {
  flex: auto;
  display: flex;
  order: 2;
}

.nav__primary, .nav__secondary {
  @extend %nav-ul;
  flex: 0 0 auto;
}
.nav__primary {
  @extend %transition;
  border-radius: 0 3px 3px 0;
}
.nav__secondary .nav__dropdown .container {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
  
  .dropdown__item a::after {
    right: 0;
    left: auto;
  }
}

.no-pp .nav__item {
  margin-left: $gutter;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.no-pp .nav__item__title {
  @extend %nav-typo;
  @extend %transition;
  display: block;
  position: relative;
  cursor: pointer;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform 0.2s ease-out;
  }
}
.touch .no-pp .nav__item.is-active .nav__item__title::after,
.no-touch .no-pp .nav__item:hover .nav__item__title::after {
   transform: scale(1);
}
.no-touch .no-pp .nav__item:hover .nav__item__title {
  opacity: 0.9;
}

// DROPDOWN

.no-pp .nav__dropdown {
  @extend %nav-ul;
  @extend %transition;
  @include maxH(0);
  position: absolute;
  top: $navH;
  left: 0;
  width: 100%;
  
  &::before {
    @extend %transition;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: $gutter;
    padding-bottom: $gutter;
  }
  
  .dropdown__item {
    flex: none;
    padding-top: $gutter;
  }
  
  .dropdown__item a {
    @extend %link;
    z-index: 1;
    top: 20px;
    margin-right: $gutter;
    opacity: 0;
   }
}

.touch .no-pp .nav__item.is-active,
.no-touch .no-pp .nav__item:hover {
  .nav__dropdown {
    max-height: 500px; 
  }
  
  .dropdown__item a {
    opacity: 1;
    top: 0;
  }
}

// PP NAV

.hamburger {
  @extend %transition;
  @extend %transparent-bt;
  @extend %round-bt;
  visibility: hidden;
  position: absolute;
  margin-top: 13px;
  margin-left: $gutter;
  cursor: pointer;
  transform: scale(0);
  outline: none;
  
  &.is-visible {
    position: relative;
    visibility: visible;
    transform: scale(1);
  }

  &::after {
    content: '';
    position: fixed;
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    transform: translateX(-50%) scale(0);
    transform-origin: center bottom;
    transition: transform 0.2s ease-out;
  }

  &.pp-visible {
    &::after {
      transform: translateX(-50%) scale(1);
    }
  }
}

.pp {
  @extend %transition;
  @extend %nav-ul;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $navH;
  left: 0;
  width: 100%;
  padding: $gutter;
  background: #fff;
  transform-origin: center top;
  transform: scale(0);
}

.no-touch .nav__pp:hover .pp,
.pp.is-visible {
  transform: scale(1);
}

.pp .nav__item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
  &:not(:last-child) {
    margin-bottom: $gutter;
  }
  
  &.is-unfold {
    .nav__item__title::after {
      transform: rotate(135deg);
    }
    .nav__dropdown {
      max-height: 200px;
      padding-top: 10px;
    }
  }
}

.pp .nav__item__title {
  background: $c-main;
  padding: 12px $gutter 9px $gutter;
  color: #fff;
  font: 700 13px $ff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  position: relative;
  
  &::after {
    @extend %transition;
    content: '';
    width: 5px;
    height: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    right: $gutter;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
  }
}

.pp .nav__dropdown {
  @extend %nav-ul;
  @extend %transition;
  opacity: 1;
  flex-direction: column;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  
  .container {
    padding: 10px 0 10px $gutter;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background: #eeeeee;
      top: 0;
    }
  }
  
  .dropdown__item {
    position: relative;
    
    &::before {
      @extend %transition;
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: $c-main;
      border: 4px solid #fff;
      border-radius: 50%;
      left: -6px;
      top: 10px;
      transform: scale(0);
    }
    
    a {
      display: block;
      text-decoration: none;
      font: 400 14px Montserrat;
      color: #999999;
      line-height: 35px;
      padding-left: $gutter;
      position: relative;
      -webkit-font-smoothing: antialiased;
    }
    
    &:hover{
      a {
        color: #555 !important;
      }

      &::before {
        transform: scale(1);
      }
    }
  }
    
}

// BUTTONS

.navbar__buttons {
  @extend %nav-ul;
  flex: none;
  order: 3;
  height: 100%;
  align-items: center;
  margin-left: $gutter;
  
  .nav-bt {
    @extend %round-bt;
    background: #fff;
    opacity: 0.5;
    
    &:nth-child(2) {
      margin: 0 $gutter/2;
    }
  }
}

.search-bt {
  @extend %round-bt;
  @extend %transparent-bt;
  display: none;

  &:last-child {
    margin-left: $gutter/2;
  }
}
.navbar.is-search {
  .nav-bt {
    display: none;
  }
  .search-bt {
    display: block;
  }
}

// SEARCH

.nav__search {
  display: none;
  flex: auto;
  order: 2;
  position: relative;
  margin-left: $gutter;
}

$c-placeholder : #fff;
@mixin placeholder() {
  color: $c-placeholder;
  font-weight: 400;
  line-height: $navH*1.15;
  opacity: 0.7;
}
.nav__search__input {
  @extend %nav-typo;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #fff;

  &:focus {
    outline: 0;
  }
  
  &:-moz-placeholder { @include placeholder(); }
  &:-ms-input-placeholder { @include placeholder(); }
  &::-moz-placeholder { @include placeholder(); }
  &::-webkit-input-placeholder { @include placeholder(); }
}

.navbar.is-search {
  &::before {
    background: $c-highlight;
  }

  .navbar__id.is-compact .logo__title {
    color: $c-highlight;
  }

  .nav {
    display: none;
  }

  .nav__search {
    display: block;
  }
}


// TOGGLE

.js-toggle {
  position: absolute;
  @extend %link;
  position: fixed;
  margin: $gutter;
  bottom: 0;
  right: 0;
  background: #fff;
  border: $gutter solid #fff;
}


// MEDIA QUERIES 

@media screen and (min-width: 420px) {
  .navbar.is-compact::before {
    width: 100%;
  }
  .navbar.stick-top {
    margin-top: 0;
  }
  .nav__pp {
    position: relative;
  }
  .pp {
    width: 320px;
    left: 15px;
    transform: translateX(-43.5%) scale(0);
  }
  .pp .nav__item.is-unfold {
    .nav__item__title::after {
      transform: translateX(-50%) rotate(135deg);
    }
    .nav__dropdown {
      max-height: 200px;
      padding-top: 10px;
    }
  }

  .no-touch .nav__pp:hover .pp,
  .pp.is-visible {
    transform: translateX(-43.5%) scale(1);
  }
}

@media screen and (min-width: 640px) {
  .navbar {
    padding: 0 $gutter*2.5;
    margin-top: 30px;
  }

  .navbar__id {
    top: -30px;
    height: 187px;
    padding: $gutter $gutter 0 $gutter;
    border-radius: 0 0 $bdr $bdr;
    box-shadow: $bshadow;

    &.is-compact {
      padding-top: 12px;
      top: 0;
    }
  }
  .logo__img {
    @include maxH(52px);
  }
  .logo__title {
    margin: 15px auto;
    color: #000;
  }
  .navbar__id__social {
    @include maxH(25px);
  }

  .no-pp .nav__dropdown .container {
    padding-left: 50px;
  }
}

@media screen and (min-width: 850px) {
  .no-pp  .nav__dropdown {
    .container {
      padding-left:70px;
      padding-bottom: $gutter*1.5;
    }

    .dropdown__item {
      padding-top: $gutter*1.5;

      a {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 930px) {
  .navbar {
    padding: 0 $gutter*2.5;
  }
}


@media screen and (min-width: 1050px) {
  .no-pp .nav__dropdown .container {
    padding-left: 210px;
    padding-bottom: $gutter*2;

    .dropdown__item {
      padding-top: $gutter*2;
    }
  }
}


@media screen and (min-width: 1220px) {
  .navbar::before {
    width: 30%;
  }

  .no-pp .nav__dropdown .dropdown__item a {
    font-size: 18px;
    font-weight: 700;

    &::after {
      height: 2px;
    }
  }
  
  .nav__primary {
    padding-right: $gutter;
    background: $c-main;
  }
  
  .nav__secondary {
    margin: 0 0 0 auto;

    .nav__dropdown .container {
      padding-right: 160px;
    }
  }
}
