.navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social, .nav__primary, .nav__secondary, .no-pp .nav__dropdown, .pp, .pp .nav__dropdown, .navbar__buttons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-pp .nav__item__title, .nav__search__input {
  font-family: ITC Avant Garde Gothic Std, Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 60.48px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.social__icon, .hamburger, .navbar__buttons .nav-bt, .search-bt {
  display: block;
  cursor: pointer;
}

.social__icon, .hamburger, .navbar__buttons .nav-bt, .search-bt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.hamburger, .search-bt {
  background-color: transparent;
  border: 2px solid #fff;
}

.social__icon, .hamburger, .navbar__buttons .nav-bt, .search-bt, .no-pp .nav__dropdown .dropdown__item a, .js-toggle, .no-pp .nav__dropdown .dropdown__item a::after, .js-toggle::after, .navbar, .navbar::before, .navbar__id,
.navbar__id.is-compact,
.no-touch nav:hover + .navbar__id, .logo__img,
.navbar__id.is-compact .logo__img,
.no-touch nav:hover + .navbar__id .logo__img, .navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social, .nav__primary, .no-pp .nav__item__title, .no-pp .nav__dropdown, .no-pp .nav__dropdown::before, .pp, .pp .nav__item__title::after, .pp .nav__dropdown, .pp .nav__dropdown .dropdown__item::before {
  transition: all 0.2s ease-out;
}

.no-pp .nav__dropdown .dropdown__item a, .js-toggle {
  position: relative;
  font-family: ITC Avant Garde Gothic Std, Arial;
  font-size: 12px;
  color: #65aa04;
  text-decoration: none;
  text-transform: uppercase;
}
.no-pp .nav__dropdown .dropdown__item a::after, .js-toggle::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #65aa04;
}
.no-pp .nav__dropdown .dropdown__item a:hover::after, .js-toggle:hover::after {
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #cacaca;
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 56px;
  padding: 0;
  margin-top: 0;
  padding-right: 20px;
}
.navbar::before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #65aa04;
}

.navbar__id,
.navbar__id.is-compact,
.no-touch nav:hover + .navbar__id {
  flex: none;
  order: 1;
  position: relative;
  width: 140px;
  height: 56px;
  padding: 12px 20px 0 20px;
  background: #fff;
  top: 0;
  box-shadow: none;
  border-radius: 0;
}

.logo__img,
.navbar__id.is-compact .logo__img,
.no-touch nav:hover + .navbar__id .logo__img {
  max-height: 0;
  overflow: hidden;
  width: 60px;
  height: 52px;
  margin-left: 20px;
  background: #cacaca;
}

.logo__title,
.navbar__id.is-compact .logo__title,
.no-touch nav:hover + .navbar__id .logo__title {
  margin: 0;
  color: #65aa04;
  font-family: Sansa Pro;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
}
.logo__title span,
.navbar__id.is-compact .logo__title span,
.no-touch nav:hover + .navbar__id .logo__title span {
  font-size: 22.3px;
}

.navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social {
  max-height: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.social__icon {
  width: 25px;
  height: 25px;
  background: #cacaca;
}

.nav {
  flex: auto;
  display: flex;
  order: 2;
}

.nav__primary, .nav__secondary {
  flex: 0 0 auto;
}

.nav__primary {
  border-radius: 0 3px 3px 0;
}

.nav__secondary .nav__dropdown .container {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}
.nav__secondary .nav__dropdown .container .dropdown__item a::after {
  right: 0;
  left: auto;
}

.no-pp .nav__item {
  margin-left: 20px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.no-pp .nav__item__title {
  display: block;
  position: relative;
  cursor: pointer;
}
.no-pp .nav__item__title::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  transform: scale(0);
  transform-origin: center bottom;
  transition: transform 0.2s ease-out;
}

.touch .no-pp .nav__item.is-active .nav__item__title::after,
.no-touch .no-pp .nav__item:hover .nav__item__title::after {
  transform: scale(1);
}

.no-touch .no-pp .nav__item:hover .nav__item__title {
  opacity: 0.9;
}

.no-pp .nav__dropdown {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
}
.no-pp .nav__dropdown::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}
.no-pp .nav__dropdown .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}
.no-pp .nav__dropdown .dropdown__item {
  flex: none;
  padding-top: 20px;
}
.no-pp .nav__dropdown .dropdown__item a {
  z-index: 1;
  top: 20px;
  margin-right: 20px;
  opacity: 0;
}

.touch .no-pp .nav__item.is-active .nav__dropdown,
.no-touch .no-pp .nav__item:hover .nav__dropdown {
  max-height: 500px;
}
.touch .no-pp .nav__item.is-active .dropdown__item a,
.no-touch .no-pp .nav__item:hover .dropdown__item a {
  opacity: 1;
  top: 0;
}

.hamburger {
  visibility: hidden;
  position: absolute;
  margin-top: 13px;
  margin-left: 20px;
  cursor: pointer;
  transform: scale(0);
  outline: none;
}
.hamburger.is-visible {
  position: relative;
  visibility: visible;
  transform: scale(1);
}
.hamburger::after {
  content: '';
  position: fixed;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  transform: translateX(-50%) scale(0);
  transform-origin: center bottom;
  transition: transform 0.2s ease-out;
}
.hamburger.pp-visible::after {
  transform: translateX(-50%) scale(1);
}

.pp {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  transform-origin: center top;
  transform: scale(0);
}

.no-touch .nav__pp:hover .pp,
.pp.is-visible {
  transform: scale(1);
}

.pp .nav__item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.pp .nav__item:not(:last-child) {
  margin-bottom: 20px;
}
.pp .nav__item.is-unfold .nav__item__title::after {
  transform: rotate(135deg);
}
.pp .nav__item.is-unfold .nav__dropdown {
  max-height: 200px;
  padding-top: 10px;
}

.pp .nav__item__title {
  background: #65aa04;
  padding: 12px 20px 9px 20px;
  color: #fff;
  font: 700 13px ITC Avant Garde Gothic Std, Arial;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  position: relative;
}
.pp .nav__item__title::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
}

.pp .nav__dropdown {
  opacity: 1;
  flex-direction: column;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}
.pp .nav__dropdown .container {
  padding: 10px 0 10px 20px;
  position: relative;
}
.pp .nav__dropdown .container::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #eeeeee;
  top: 0;
}
.pp .nav__dropdown .dropdown__item {
  position: relative;
}
.pp .nav__dropdown .dropdown__item::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #65aa04;
  border: 4px solid #fff;
  border-radius: 50%;
  left: -6px;
  top: 10px;
  transform: scale(0);
}
.pp .nav__dropdown .dropdown__item a {
  display: block;
  text-decoration: none;
  font: 400 14px Montserrat;
  color: #999999;
  line-height: 35px;
  padding-left: 20px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.pp .nav__dropdown .dropdown__item:hover a {
  color: #555 !important;
}
.pp .nav__dropdown .dropdown__item:hover::before {
  transform: scale(1);
}

.navbar__buttons {
  flex: none;
  order: 3;
  height: 100%;
  align-items: center;
  margin-left: 20px;
}
.navbar__buttons .nav-bt {
  background: #fff;
  opacity: 0.5;
}
.navbar__buttons .nav-bt:nth-child(2) {
  margin: 0 10px;
}

.search-bt {
  display: none;
}
.search-bt:last-child {
  margin-left: 10px;
}

.navbar.is-search .nav-bt {
  display: none;
}
.navbar.is-search .search-bt {
  display: block;
}

.nav__search {
  display: none;
  flex: auto;
  order: 2;
  position: relative;
  margin-left: 20px;
}

.nav__search__input {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #fff;
}
.nav__search__input:focus {
  outline: 0;
}
.nav__search__input:-moz-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}
.nav__search__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}
.nav__search__input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}
.nav__search__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}

.navbar.is-search::before {
  background: #eb6c1d;
}
.navbar.is-search .navbar__id.is-compact .logo__title {
  color: #eb6c1d;
}
.navbar.is-search .nav {
  display: none;
}
.navbar.is-search .nav__search {
  display: block;
}

.js-toggle {
  position: absolute;
  position: fixed;
  margin: 20px;
  bottom: 0;
  right: 0;
  background: #fff;
  border: 20px solid #fff;
}

@media screen and (min-width: 420px) {
  .navbar.is-compact::before {
    width: 100%;
  }

  .navbar.stick-top {
    margin-top: 0;
  }

  .nav__pp {
    position: relative;
  }

  .pp {
    width: 320px;
    left: 15px;
    transform: translateX(-43.5%) scale(0);
  }

  .pp .nav__item.is-unfold .nav__item__title::after {
    transform: translateX(-50%) rotate(135deg);
  }
  .pp .nav__item.is-unfold .nav__dropdown {
    max-height: 200px;
    padding-top: 10px;
  }

  .no-touch .nav__pp:hover .pp,
  .pp.is-visible {
    transform: translateX(-43.5%) scale(1);
  }
}
@media screen and (min-width: 640px) {
  .navbar {
    padding: 0 50px;
    margin-top: 30px;
  }

  .navbar__id {
    top: -30px;
    height: 187px;
    padding: 20px 20px 0 20px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .navbar__id.is-compact {
    padding-top: 12px;
    top: 0;
  }

  .logo__img {
    max-height: 52px;
    overflow: hidden;
  }

  .logo__title {
    margin: 15px auto;
    color: #000;
  }

  .navbar__id__social {
    max-height: 25px;
    overflow: hidden;
  }

  .no-pp .nav__dropdown .container {
    padding-left: 50px;
  }
}
@media screen and (min-width: 850px) {
  .no-pp .nav__dropdown .container {
    padding-left: 70px;
    padding-bottom: 30px;
  }
  .no-pp .nav__dropdown .dropdown__item {
    padding-top: 30px;
  }
  .no-pp .nav__dropdown .dropdown__item a {
    font-size: 14px;
  }
}
@media screen and (min-width: 930px) {
  .navbar {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1050px) {
  .no-pp .nav__dropdown .container {
    padding-left: 210px;
    padding-bottom: 40px;
  }
  .no-pp .nav__dropdown .container .dropdown__item {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1220px) {
  .navbar::before {
    width: 30%;
  }

  .no-pp .nav__dropdown .dropdown__item a {
    font-size: 18px;
    font-weight: 700;
  }
  .no-pp .nav__dropdown .dropdown__item a::after {
    height: 2px;
  }

  .nav__primary {
    padding-right: 20px;
    background: #65aa04;
  }

  .nav__secondary {
    margin: 0 0 0 auto;
  }
  .nav__secondary .nav__dropdown .container {
    padding-right: 160px;
  }
}
